<html>
  <head>
    <style>
     .access input {width: 60px;}
    </style>
  </head>
  <body>
    {% if parent_branch %}
    <h2>Parents</h2><ul>
      {% for parent in parent_branch %}
        {% block parent %}
          <li><a href="/tags/{{ escape(str(parent[0])) }}?{{ recursive }}">{{ escape(parent[1]) }}</a></li>
        {% end %}
      {% end %}

    </ul>  
    {% end %}
    {%  if self_tag[0] %}
    <h2>Tag name</h2>
      {{ self_tag[1] }}
    {% end %}
    <h3>Your access</h3>
      {% for key, value in zip(user_access_keys, user_access) %}
        {{ key }}: {{ str(value) }}<br>
      {% end %}
    <h3>Access</h3>
      <form action='/add_access' method='post' class='access'>
        <input type='hidden' name='tag_id' value='{{ self_tag[0] }}'>


        <table border='1'>
          <tr><td>User</td><td>Access</td></tr>
          {% for access in users_access %}
          <tr>
            {% for key, value in zip(access_keys, access) %}
              <td>{{ key }}: {{ value }}</td>
            {% end %}
          </tr>
          {% end %}

          <tr>
              <td><input type='submit' value='add'></td>
              <td>user_id:<input type='text' name='user_id' value='0'></td>
              <td>read:<input type='text' name='read' value='0'></td>
              <td>write:<input type='text' name='write' value='0'></td>
              <td>view_log:<input type='text' name='view_log' value='0'></td>
              <td>delete_log:<input type='text' name='delete_log' value='0'></td>
              <td>modify_log:<input type='text' name='modify_log' value='0'></td>
              <td>view_header:<input type='text' name='view_header' value='0'></td>
          </tr>
        </table>
      </form>      
    <h2>Children</h2><ul>

      {% for child in children_tree %}
        {% block child %}
          <li><a href="/tags/{{ escape(str(child[0])) }}?{{ recursive }}">{{ escape(child[1]) }}</a></li>
        {% end %}
      {% end %}

      <form action="/add_tag" method="post">
          <input type="text" name="name">
          <input type="hidden" name="parent_id" value={{ escape(str(self_tag[0])) }}>
          <input type="submit" value="Add new tag">
      </form>

    </ul>

  </body>
</html>